body {
	text-align: center;
  margin: 5% auto;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

.jumbotron.col-sm-6.col-sm-offset-3.text-center.transparentBg,
.jumbotron.col-sm-12.text-center.transparentBg {
		background: transparent;
}
